@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  font-family: "Averia Sans Libre", sans-serif;
  text-shadow: 2px 2px #555;
}

body,
body > div {
  margin: 0;
  padding: 0;
  height: 100vh;
}
